#musicSelect {
    padding: 4dvh;
    & #returnButtonContainer {
        width: 60dvw;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 40px;
        position: absolute;
        background-color: #bbba;
        border-radius: 1vh;
        z-index: 1;
        padding: 5dvh;
    }
}

#musicOptions {
    width: 80vw;
    height: 60dvh;
    gap: 3dvh;
    overflow-y: auto;
    justify-content: flex-start;
    align-items: center;
    border: #666 4px solid;
    border-radius: 8px;
    background-color: #aaa6;
    margin: 0;
    flex: 1;
    padding-bottom: 20dvh;
}

#musicOptions::-webkit-scrollbar {
    width: 15px;
}

#musicOptions::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 7.5px;
}

#musicOptions::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 7.5px;
    border: 2px solid #888;
}

#musicOptions::-webkit-scrollbar-thumb:hover {
    background: #444;
}

#musicOptions .musicOption {
    max-width: 100vw;
    width: 70vw;
    min-height: max-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5dvh;
}

.musicOption .text {
    flex-shrink: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#musicOptions [data-index="0"] {
    margin-top: 3dvh;
}

#musicOptions .musicOption:last-child {
    margin-bottom: 3dvh;
}

.musicIllust {
    height: 90%;
    aspect-ratio: 1;
}

.musicIllust {
    background-color: whitesmoke;
    background-size: cover;
}

@media (max-width: 768px) {
    #musicSelect .headingLabel {
        margin-bottom: -40px;
    }
    .musicIllust {
        height: 90%;
        aspect-ratio: 1;
    }

    #musicOptions {
        width: 90vw;
        height: 60dvh;
        gap: 2dvh;
        overflow-y: auto;
        justify-content: flex-start;
        align-items: center;
    }

    #musicOptions .musicOption {
        height: 10dvh;
        max-width: 100vw;
        width: 80vw;
        min-height: max-content;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 2dvh;
    }

    .musicOption .text {
        font-size: 0.7em;
        line-height: 1.1em;
        min-width: 0;
        min-height: max-content;
        overflow: auto;
        text-overflow: initial;
        white-space: nowrap;
        margin-left: 0;
        margin-right: 0;
    }
}
