#circlePanel {
    width: 30dvh;
    height: 30dvh;
    position: relative;
    align-items: center;
}

.circlePanelInner {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#circlePanelInner2 {
    z-index: 1;
}

#circle {
    width: 30dvh;
    height: 30dvh;
    border-radius: 50%;
    background: whitesmoke;
    transition: background-color 100ms ease-out;
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
    color: black;
}

#effectCircle {
    width: 30dvh;
    height: 30dvh;
    border-radius: 50%;
    background: rgb(255, 244, 196);
    transition: background-color 100ms ease-out;
    display: flex;
    font-size: 3em;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#judgementCircle {
    transition: background-color 100ms ease-out;
    width: 30dvh;
    height: 30dvh;
    border-radius: 50%;
    scale: 1.25;
    border: 4px solid;
}

#scoreLabel {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
}

#comboLabel {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1;
}

#play {
    transition: background-color 70ms ease-in-out;
    gap: 10dvh;
    cursor: none;
}

#play::before {
    content: "";
    position: absolute;
    top: -40dvh;
    left: 50%;
    transform: translateX(-50%);
    width: 120vw;
    height: 80dvh;
    pointer-events: none;
    background: repeating-conic-gradient(rgba(255, 255, 200, 0.12) 0deg 2deg, transparent 2deg 16deg);
    opacity: 0.7;
    filter: blur(1.5px);
    z-index: 0;
}

#pause {
    background-color: rgb(235, 208, 163);
    z-index: 6;
}

#notePage {
    display: none;
    position: relative;
}

.note {
    width: 30dvh;
    height: 30dvh;
    position: absolute;
    border-radius: 50%;
    border: 4px rgb(246, 255, 220) solid;
    box-shadow: 0 10px 20px 0 rgba(168, 148, 64, 0.35);
}

.progressBar {
    z-index: 1;
}

.progressBarOuter {
    width: 80vw;
    height: 4dvh;
    border-radius: 2dvh;
    background-color: #888;
    position: relative;
}

.progressBarInner {
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 2dvh;
    position: absolute;
    background-color: palevioletred;
}

#touchPage {
    z-index: 5;
    display: none;
    flex-direction: row;
    gap: 0;
}

.leftTouchPanel {
    height: 100%;
    width: 50vw;
}

.rightTouchPanel {
    height: 100%;
    width: 50vw;
}

@media (max-width: 768px) {
    #circle {
        width: 25dvh;
        height: 25dvh;
    }

    #effectCircle {
        width: 25dvh;
        height: 25dvh;
    }

    #judgementCircle {
        width: 25dvh;
        height: 25dvh;
    }
    .note {
        width: 25dvh;
        height: 25dvh;
        box-shadow: none;
    }
}
